<form #f="ngForm" (ngSubmit)="myForm.valid && onSubmit()" novalidate #myForm="ngForm">
  <!-- Lastname field -->
  <div>
    <label for="lastname">Nom :</label>
    <input
      type="text"
      name="lastname"
      [(ngModel)]="user.lastname"
      #lastname="ngModel"
      required
      minlength="3"
      maxlength="15"
    />
  </div>
  <!-- Error message for lastname -->
  <div *ngIf="lastname.errors && lastname.touched">
    <span *ngIf="lastname.errors?.['required']">Le nom est requis</span>
    <span *ngIf="lastname.errors?.['minlength']"
      >Le nom doit comporter au minimum 3 caractères</span
    >
    <span *ngIf="lastname.errors?.['maxlength']"
      >Le nom ne doit pas dépasser 15 caractères</span
    >
  </div>

  <!-- Firstname field -->
  <div>
    <label for="firstname">Prénom :</label>
    <input
      type="text"
      name="firstname"
      [(ngModel)]="user.firstname"
      #firstname="ngModel"
      required
      minlength="3"
      maxlength="15"
    />
  </div>
  <!-- Error message for firstname -->
  <div *ngIf="firstname.errors && firstname.touched">
    <span *ngIf="firstname.errors?.['required']">Le prénom est requis</span>
    <span *ngIf="firstname.errors?.['minlength']"
      >Le prénom doit comporter au minimum 3 caractères</span
    >
    <span *ngIf="firstname.errors?.['maxlength']"
      >Le prénom ne doit pas dépasser 15 caractères</span
    >
  </div>

  <!-- Email field -->
  <div>
    <label for="email">Adresse électronique :</label>
    <input
      type="text"
      name="email"
      [(ngModel)]="user.email"
      #email="ngModel"
      required
      email
    />
  </div>
  <!-- Error message for email -->
  <div *ngIf="email.errors && email.touched">
    <span *ngIf="email.errors?.['required']"
      >L'adresse électronique est requise</span
    >
    <span *ngIf="email.errors?.['email']"
      >Veuillez renseigner une adresse valide</span
    >
  </div>

  <!-- Password field -->
  <div>
    <label for="password">Mot de passe :</label>
    <input
      type="text"
      name="password"
      [(ngModel)]="user.password"
      #password="ngModel"
      minlength="8"
      required
    />
  </div>
  <!-- Error message for Password -->
  <div *ngIf="password.errors && password.touched">
    <span *ngIf="password.errors?.['required']"
      >Un mot de passe est requis</span
    >
    <span *ngIf="password.errors?.['minlength']"
      >Le mot de passe doit contenir au moins 8 caractères</span
    >
  </div>

  <!-- Reset & Submit button -->
  <div class="button">
    <button type="reset">Restaurer</button>
    <button type="submit">Soumettre</button>
  </div>
</form>
