.card {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(215, 215, 215);
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0px 0px 20px rgb(144, 144, 144);
}

.card img {
  width: 50%;
  border-radius: 200px;
}

.button {
  padding: 8px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #D6A011;
}
